@model IEnumerable<AppRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Roller</h1>

@if (ViewBag.success != null)
{
    <div class="alert alert-success">
        @ViewBag.success
    </div>
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        @ViewBag.error
    </div>
}
<p>
    <a asp-action="RoleCreate">Role Oluştur</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Rol Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a class="btn btn-info" asp-action="RoleEdit" asp-route-id="@item.Id">Güncelleme</a>
                    <a class="btn btn-danger" asp-action="RoleDelete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
