@model UserViewModel
@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3 class="text-center">Kullanıcı Bilgileri</h3>

<div class="row">
    <div class="col-sm-3">
        <img src="@Model.Picture" width="100" height="100" alt="" />
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Kullanıcı ismi</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Eposta</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon no</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Cinsiyet</th>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <th>Doğum Tarihi</th>
                <td>@Model.BirthDay.Value.ToShortDateString()</td>
            </tr>
            <tr>
                <th>Şehir</th>
                <td>@Model.City</td>
            </tr>
        </table>
    </div>
</div>